stages:
  - test
  - build
  - deploy

workflow:
  rules:
    - when: always

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375

  DOCKER_REGISTRY: docker.io
  DOCKER_IMAGE: $DOCKER_USERNAME/boilerplate-task

  AWS_DEFAULT_REGION: us-east-1
  EKS_CLUSTER_NAME: my-eks-cluster

# --------------------
# TEST
# Runs ONLY on Merge Request to main
# If this fails MR cannot be merged
# --------------------
test:
  stage: test
  image: docker:26
  services:
    - name: docker:26-dind
      command: ["--tls=false"]
  script:
    - docker version
    - docker compose -f docker-compose.test.yml up --abort-on-container-exit
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" &&
            $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"'

# --------------------
# BUILD
# Runs AFTER merge to development staging or main
# Builds image and pushes to Docker Hub
# --------------------
build:
  stage: build
  image: docker:26
  services:
    - name: docker:26-dind
      command: ["--tls=false"]
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - docker build -t $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker push $DOCKER_IMAGE:$CI_COMMIT_SHORT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(development|staging|main)$/'

# --------------------
# DEPLOY
# Deploys to EKS using Helm
# Environment selected by branch
# --------------------
deploy:
  stage: deploy
  image: alpine:3.19
  before_script:
    - apk add --no-cache curl bash aws-cli helm
    - aws eks update-kubeconfig --region $AWS_DEFAULT_REGION --name $EKS_CLUSTER_NAME
  script:
    - |
      if [ "$CI_COMMIT_BRANCH" = "development" ]; then
        NAMESPACE=development
      elif [ "$CI_COMMIT_BRANCH" = "staging" ]; then
        NAMESPACE=staging
      else
        NAMESPACE=production
      fi

      helm upgrade --install app charts/app \
        --namespace $NAMESPACE \
        --create-namespace \
        --set image.repository=$DOCKER_IMAGE \
        --set image.tag=$CI_COMMIT_SHORT_SHA
  rules:
    - if: '$CI_COMMIT_BRANCH =~ /^(development|staging|main)$/'
