stages:
  - test
  - build
  - deploy

variables:
  DOCKER_REGISTRY: docker.io
  DOCKER_IMAGE: $DOCKER_USERNAME/laravel-10-boilerplate-task

default:
  interruptible: true
  retry: 1

workflow:
  rules:
    - when: always

####################################
# TEST
####################################
test:
  stage: test
  tags:
    - shell
  script:
    - docker info
    - docker compose version
    - docker compose up -d --build
    - docker compose exec -T app composer install --no-interaction --prefer-dist
    - docker compose exec -T app cp -n .env.example .env || true
    - docker compose exec -T app php artisan key:generate
    - docker compose exec -T app php artisan migrate --force
    - docker compose exec -T app php artisan test
  after_script:
    - docker compose logs --no-color || true
    - docker compose down -v || true
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^(development|staging|main|master)$/
      when: on_success

####################################
# BUILD
####################################
build:
  stage: build
  tags:
    - shell
  needs:
    - test
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin $DOCKER_REGISTRY
  script:
    - export TAG="${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}"
    - docker build -t $DOCKER_REGISTRY/$DOCKER_IMAGE:$TAG -t $DOCKER_REGISTRY/$DOCKER_IMAGE:${CI_COMMIT_REF_SLUG}-latest .
    - docker push $DOCKER_REGISTRY/$DOCKER_IMAGE:$TAG
    - docker push $DOCKER_REGISTRY/$DOCKER_IMAGE:${CI_COMMIT_REF_SLUG}-latest
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^(development|staging|main|master)$/
      when: on_success

####################################
# DEPLOY DEV
####################################
deploy_development:
  stage: deploy
  tags:
    - shell
  needs:
    - build
  script:
    - echo "Simulating deploy to development"
    - echo "Image $DOCKER_REGISTRY/$DOCKER_IMAGE:${CI_COMMIT_REF_SLUG}-latest"
  environment:
    name: development
  rules:
    - if: $CI_COMMIT_BRANCH == "development"
      when: on_success

####################################
# DEPLOY STAGING
####################################
deploy_staging:
  stage: deploy
  tags:
    - shell
  needs:
    - build
  script:
    - echo "Simulating deploy to staging"
    - echo "Image $DOCKER_REGISTRY/$DOCKER_IMAGE:${CI_COMMIT_REF_SLUG}-latest"
  environment:
    name: staging
  rules:
    - if: $CI_COMMIT_BRANCH == "staging"
      when: on_success

####################################
# DEPLOY PROD
####################################
deploy_production:
  stage: deploy
  tags:
    - shell
  needs:
    - build
  script:
    - echo "Simulating deploy to production"
    - echo "Image $DOCKER_REGISTRY/$DOCKER_IMAGE:${CI_COMMIT_REF_SLUG}-latest"
  environment:
    name: production
  when: manual
  rules:
    - if: $CI_COMMIT_BRANCH =~ /^(main|master)$/
      when: manual
