variables:
  IMAGE_NAME: $DOCKER_USERNAME/laravel-10-boilerplate-task
  IMAGE_TAG: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}

stages:
  - test
  - build
  - deploy

####################################
# TEST
####################################
run_tests:
  stage: test
  image: php:8.2-cli
  services:
    - name: mysql:8.0
      alias: mysql
  variables:
    MYSQL_DATABASE: laravel
    MYSQL_ROOT_PASSWORD: root
    DB_CONNECTION: mysql
    DB_HOST: mysql
    DB_PORT: 3306
    DB_DATABASE: laravel
    DB_USERNAME: root
    DB_PASSWORD: root
  before_script:
    - apt-get update && apt-get install -y git unzip libzip-dev
    - docker-php-ext-install pdo pdo_mysql zip
    - curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
    - cp .env.example .env
    - composer install --no-interaction
    - php artisan key:generate
  script:
    - php artisan migrate --force
    - php artisan test

####################################
# BUILD
####################################
build_image:
  stage: build
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  script:
    - docker build -t $IMAGE_NAME:$IMAGE_TAG .
    - docker push $IMAGE_NAME:$IMAGE_TAG

####################################
# DEPLOY
####################################
deploy:
  stage: deploy
  before_script:
    - chmod 400 $SSH_KEY
  script:
    - |
      ssh -o StrictHostKeyChecking=no -i $SSH_KEY root@YOUR_SERVER_IP "
        docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD &&
        docker pull $IMAGE_NAME:$IMAGE_TAG &&
        docker ps -aq | xargs -r docker stop | xargs -r docker rm &&
        docker run -d -p 80:80 $IMAGE_NAME:$IMAGE_TAG
      "
