stages:
  - test
  - build
  - deploy

workflow:
  rules:
    - when: always

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375
  IMAGE_NAME: $DOCKERHUB_USERNAME/laravel-app:$CI_COMMIT_SHORT_SHA

# --------------------
## TEST (MRs only)
# --------------------
test:
  stage: test
  image: docker:25
  services:
    - name: docker:25-dind
      command: ["--tls=false"]
  script:
    - docker version
    - docker compose -f docker-compose.test.yml up --abort-on-container-exit
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

# --------------------
# BUILD
# --------------------
build:
  stage: build
  image: docker:25
  services:
    - name: docker:25-dind
      command: ["--tls=false"]
  before_script:
    - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
  script:
    - docker build -t $IMAGE_NAME .
    - docker push $IMAGE_NAME
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH =~ /^(development|staging|main)$/'

# --------------------
# DEPLOY
# --------------------
deploy:
  stage: deploy
  image: docker:25
  services:
    - name: docker:25-dind
      command: ["--tls=false"]
  script:
    - |
      if [ "$CI_COMMIT_BRANCH" = "development" ]; then
        docker compose -f docker-compose.yml -f docker-compose.dev.yml up -d
        PORT=8000
      elif [ "$CI_COMMIT_BRANCH" = "staging" ]; then
        docker compose -f docker-compose.yml -f docker-compose.staging.yml up -d
        PORT=8080
      else
        docker compose -f docker-compose.yml -f docker-compose.prod.yml up -d
        PORT=80
      fi
    - sleep 20
    - curl -f http://localhost:$PORT/health
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH =~ /^(development|staging|main)$/'
